extends layout

block content
  row
    .col-md-12
      p Hello World
      table.table-striped.table-bordered
        thead
          tr
            th Device
            th Alias
            th Offset
            th Value
        tbody#valuetable