extends layout

block content
  .row
    .col-md-12
      form(action="/values", method="POST", enctype="multipart/form-data", role="form")

        .form-group
          label(for="mapping") Mapping File
          input(type="file", name="mapping", id="mapping")
          .help-block Upload updated mapping file here
       
        button.btn.btn-default(type="submit") Upload
  .row
    .col-md-12
      table.table-striped.table-bordered
        thead
          tr
            th Device
            th Alias
            th Offset
            th Value
        tbody#valuetable
          
      a(href="/values", target="_blank") Download